body {
    background-color: aqua;

}

button {
    height: 35px;
    width: 105px;
    font-size: 11px;
    color: black;
    border: 2px solid black;
    background-color: greenyellow;
    transition-property: background-color;
    transition-duration: 3s;
   
  }

  button:hover {
    background-color: green;
  }

  p {
    text-align: center;
  }